body {
  background-color: rgb(248, 248, 248);
}

.container {
  display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
  margin: 5rem;
  padding: 5rem;
  border-radius: 0.4rem;
  background-color: #fff;
  box-shadow: 0 0 5px 5px rgb(204, 204, 204);
  font-family: "Arial", "Helvetica", sans-serif;

  > * {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-flow: column nowrap;
    gap: 2rem;
    margin: 3rem;
    padding: 2rem;

    .configuration {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .configuration {
      width: 100%;
    }
  }
}

.configuration {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
}

@media only screen and (max-width: 540px) {
  .configuration {
    grid-template: repeat(3, 1fr) / 1fr;
  }

  .container {
    flex-flow: column nowrap;
    gap: 2rem;
    margin: 1rem;
    padding: 1rem;
  }
}

.configuration__tool {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

label {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
}

input[type="text"] {
  padding: 0.5rem 0.7rem;
  border: 0;
  border-radius: 0.2rem;
  box-shadow: 0 0 4px 2px rgb(224, 224, 224);
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "Arial", "Helvetica", sans-serif;
  text-align: center;
}

input[type="checkbox"] {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 0.2rem;
  background-size: 0;
  box-shadow: 0 0 4px 2px rgb(224, 224, 224);
  appearance: none;

  &:checked {
    background-image: url("./check_mark.svg");
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
  }
}

input:focus {
  box-shadow: 0 0 5px 5px rgb(214, 214, 214);
}
