.slider {
  display: flex;
  flex-flow: row nowrap;
  gap: 2.5rem;
  margin: 5rem;
}

.slider__element {
  flex: 3;
}

.slider__configuration-panel {
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  gap: 1rem;
}

.slider__configuration-panel__inputs {
  display: flex;
  flex-flow: row wrap;
  gap: 0.6rem;
}
