@import '../../variables.scss';

.range-slider__progress {
  position: absolute;

  top: $top-offset;

  left: 0;
  height: $track-height;

  border-radius: 0.25rem;

  background-color: $primary-color;

  transition: all .2s ease;
}
