.range-slider__track {
  position: absolute;
  width: 100%;
  height: var(--progress-height);
  margin: var(--track-offset) 0;
  border-radius: var(--track-border-radius);
  background-color: var(--gray-color);
}

.range-slider__progress {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.range-slider__progress__segment {
  position: absolute;
  height: 100%;
}

.range-slider__thumb {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--track-height);
  margin-top: calc((var(--track-offset)) * -1);
}

.range-slider__thumb__item {
  position: absolute;
  width: var(--thumb-width);
  height: var(--thumb-height);
  border: var(--thumb-border);
  border-radius: var(--thumb-border-radius);
  background-color: var(--primary-color);
}

.range-slider__thumb__item__marker {
  display: flex;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: -1.8rem;
  padding: 0.1rem 0.4rem;
  border: var(--thumb-border);
  border-radius: var(--thumb-marker-border-radius);
  color: var(--thumb-marker-color);
  font-weight: 600;
}

.range-slider__scale {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: var(--track-height) 0;
  list-style: none;
}

.range-slider__scale__item {
  position: absolute;
}

.range-slider__scale__button {
  width: 100%;
  padding: 0;
  border: none;
  border-color: var(--gray-color);
  background-color: transparent;
  color: var(--gray-color);
  font-weight: 600;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 120%;
    left: calc(50% - 1px);
    height: 70%;
    border-color: inherit;
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 0.4rem;
  }

  &:focus,
  &:hover {
    border-color: inherit;
    color: inherit;
    outline: none;
  }
}
