@import "../../variables";

.range-slider__track {
  position: absolute;
  top: $top-offset;
  width: 100%;
  height: $track-height;
  border-radius: 0.25rem;
  background-color: $gray-color;
}

.range-slider__track-scale {
  display: flex;
  justify-content: space-between;
  margin-top: 1.4rem;
  padding: 0;
  list-style: none;
}

.range-slider__track-scale--hidden {
  opacity: 0;
  pointer-events: none;
}

.range-slider__track-scale__item {
  position: absolute;
}

.range-slider__track-scale__item--hidden {
  opacity: 0;
  pointer-events: none;
}

.range-slider__track-scale__button {
  width: 100%;
  padding: 0;
  border: 0;
  background-color: transparent;
  color: rgba(#000, 0.3);
  font-weight: bold;
  font-size: 80%;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 90%;
    left: 50%;
    height: 70%;
    border-left: 2px solid $gray-color;
  }

  &:hover,
  &:focus {
    color: $primary-color;
    outline: none;

    &::after {
      border-color: $primary-color;
    }
  }
}
