@import '../../variables.scss';

.range-slider__track {
  position: absolute;

  top: $top-offset;

  width: 100%;
  height: $track-height;

  background-color: #fff;
  border: 1px solid #242426;
  border-radius: 0.25rem;
}

.range-slider__track__scale {
  list-style: none;
  display: flex;
  justify-content: space-between;

  padding: .1rem 0px;
  margin: 1rem auto;

  border-bottom: 1px solid #242426;
}

.range-slider__track__scale__item {
  position: relative;
  display: flex;
  justify-content: center;

  font-weight: bold;
  font-size: 80%;

  min-width: $min-scale-item-width;

  cursor: pointer;

  &:hover {
    color: blue;

    &::after {
      border-color: blue;
    }
  }

  &::after {
    content: '';

    position: absolute;
    height: 90%;

    border-left: 1px solid #242427;
    border-radius: .5rem;

    left: 0;
  }

  &:nth-child(even) {
    background-color: #dadada;
  }
}
