@import '../../variables.scss';

.range-slider {
  position: relative;
  height: $thumb-height;
}

.range-slider--has-marker {
  margin-top: 2.5rem;
}

.range-slider--vertical {
  transform: rotate(270deg);
  margin: 50% auto;

  .range-slider__thumb-marker {
    transform: rotate(90deg);
  }
}
