@import "../../variables";

.range-slider {
  position: relative;
  height: $thumb-height;
}

.range-slider--has-marker {
  margin-top: 2.5rem;
}

.range-slider--vertical {
  margin: 50% auto;
  transform: rotate(270deg);

  .range-slider__thumb-marker {
    transform: rotate(90deg);
  }
}
