.range-slider__input {
  position: absolute;
  width: 100%;
  height: var(--track-height);
}

.range-slider__input__element {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: transparent;
  appearance: none;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    width: var(--thumb-width);
    height: var(--thumb-height);
    border-radius: 50%;

    /* background-color: blue; */
    pointer-events: all;
    appearance: none;
  }
}

.range-slider__input_interval {
  .range-slider__input__element {
    pointer-events: none;
  }
}
