@import '../variables.scss';

.range-slider__input {
  position: absolute;
  margin: 0px;
  border: none;
  width: 100%;
  opacity: 0;
  background-color: transparent;
  z-index: 1;
  -moz-appearance: none;
}

.range-slider__input--interval {
  pointer-events: none;
}

.range-slider__input::-moz-range-thumb {
  pointer-events: all;
  width: $thumb-size * 1.2;
  height: $thumb-size * 1.2;

  border: 1px solid #242426;
  background-color: transparent;
}
