@import '../../variables.scss';

.range-slider__input {
  position: absolute;
  height: $track-height;
  opacity: 0;

  margin: 0;
  top: $top-offset;

  width: 100%;
  z-index: 2;

  &:focus {
    &::-moz-range-thumb {
      width: $thumb-width;
      height: $thumb-height;
    }
  }
}

.range-slider__input--interval {
  pointer-events: none;
}

.range-slider__input::-moz-range-thumb {
  pointer-events: all;

  width: $thumb-width * .8;
  height: $thumb-height * .8;

  border-radius: $thumb-border-radius;
}
