@import '../../variables.scss';

.range-slider__input {
  position: absolute;
  height: $track-height;

  outline: none;

  margin: 0px;
  top: $top-offset;

  border: none;

  width: 100%;
  background-color: transparent;
  z-index: 1;
}

.range-slider__input--interval {
  pointer-events: none;
}

.range-slider__input::-moz-range-thumb {
  pointer-events: all;

  width: $thumb-width;
  height: $thumb-height;

  border: 1px solid #242426;
  background-color: #fff;
}

.range-slider__input--hidden::-moz-range-thumb {
  opacity: 0;
}

.range-slider__thumb-marker {
  display: flex;
  position: absolute;

  margin-top: -2.2rem;
  padding: .2rem;

  background-color: #fff;
  border: 1px solid #242426;
  border-radius: .25rem;
}

.range-slider__thumb-marker--hidden {
  display: none;
}
