@import "../../variables";

.range-slider__thumb {
  position: absolute;
  z-index: 1;
  width: $thumb-width;
  height: $thumb-height;
  border: $thumb-border-width solid #fff;
  border-radius: $thumb-border-radius;
  background-color: $primary-color;
  opacity: 1;
}

.range-slider__thumb__marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: $min-thumb-marker-width;
  margin: auto;
  margin-top: -2.7rem;
  padding: 0 0.4rem;
  border: $thumb-border-width solid #fff;
  border-radius: $border-radius;
  background-color: $primary-color;
  color: $white-color;
  line-height: 24px;
  white-space: nowrap;
  transition: all 0.2s ease;
}

.range-slider__thumb--hovered,
.range-slider__thumb--focused {
  z-index: 2;
  border-color: $primary-color;
  background-color: $white-color;
  outline: 0;

  .range-slider__thumb__marker {
    border: $thumb-border-width solid $primary-color;
    background-color: $white-color;
    color: $primary-color;
    outline: 0;
    font-weight: bold;
    transition: all 0.2s ease;
  }
}

.range-slider__thumb--hidden {
  opacity: 0;
}

.range-slider__thumb__marker--hidden {
  opacity: 0;
}
