/* stylelint-disable property-case */
/* stylelint-disable property-no-unknown */
@import "./variables";

:export {
  borderRadius: $border-radius;
  grayColor: $gray-color;
  minThumbMarkerWidth: $min-thumb-marker-width;
  primaryColor: $primary-color;
  rootFontSize: $root-font-size;
  thumbBorderWidth: $thumb-border-width;
  thumbHeight: $thumb-height;
  thumbWidth: $thumb-width;
  topOffset: $top-offset;
  trackHeight: $track-height;
}
