@import './variables.scss';


:export {
  rootFontSize: $root-font-size;
  thumbWidth: $thumb-width;
  thumbHeight: $thumb-height;
  trackHeight: $track-height;
  topOffset: $top-offset;
  minScaleItemWidth: $min-scale-item-width;
}
