$root-font-size: 16px;

// thumb
$thumb-width: 1.6rem;
$thumb-height: 1.6rem;
$thumb-border-width: 2px;
$thumb-border-radius: 50%;
$min-thumb-marker-width: 2rem;
$track-height: 0.4rem;
$top-offset: ($thumb-height - $track-height) / 2;
$border-radius: 0.25rem;

// colors
$gray-color: #dfdfdf;
$primary-color: #1565c0;
